<div ng-switch="{{animationIndex}}">
  <sdev-loading-animation-1 ng-switch-when="1"></sdev-loading-animation-1>
  <sdev-loading-animation-2 ng-switch-when="2"></sdev-loading-animation-2>
  <sdev-loading-animation-3 ng-switch-when="3"></sdev-loading-animation-3>
  <sdev-loading-animation-4 ng-switch-when="4"></sdev-loading-animation-4>
  <sdev-loading-animation-5 ng-switch-when="5"></sdev-loading-animation-5>
  <sdev-loading-animation-6 ng-switch-when="6"></sdev-loading-animation-6>
  <sdev-loading-animation-7 ng-switch-when="7"></sdev-loading-animation-7>
  <sdev-loading-animation-8 ng-switch-default></sdev-loading-animation-8>
</div>